@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
*img{
	max-width: 100%;
}
:root{
	--bg-color:#121B25;
	--accent-color:#1AA090;
	--text-color:#D6D6D6;
}

body{
	font-family:  'Work Sans', sans-serif;
	background-color: var(--bg-color);
	color: #fff;
	&._lock{
		overflow: hidden;
	}
}

[class*="__container"]{
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 15px;
}

/*------General----------*/
.title{
	color: #FFF;
	font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
	font-weight: 600;
	line-height: 126%; /* 60.48px */
	text-transform: capitalize;
}

.text {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
}

@import "header/header";
@import "hero/hero";//hero and featured sections

/*--------------popular-------------------*/

.popular {
	background: #1A242F url('../img/slider-bg.png') center center/cover no-repeat;
	padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
	// .popular__container

	&__container {
	}

	// .popular__title

	&__title {
	}

	// .popular__slider

	&__slider {
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-buttons {
}
.swiper-button-prev {
}
.swiper-button-next {
}
